body {
	height: 100%;
	overflow: hidden;
	margin: 1px;
	text-align: center;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	z-index: 3;
	margin-bottom: 0;
}

h4 {
	z-index: 2;
	font-weight: normal;
	font-style: italic;
	margin-top: 10px;
}

#headerwrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
}

#buttons {
	position: absolute;
	left: 0;
	height: 100%;
	width: 250px;
}

#titlewrapper {
	position: absolute;
	height: 100%;
	left: 0;
	right: 0;
	overflow: hidden;
}

#wrapper {
	position: absolute;
	top: 100px;
	bottom: 3%;
	left: 0;
	right: 0;
	height: 90%;
}

#codewrapper {
	position: absolute;
	height: 90%;
	width: 50%;
	margin: auto;
	border: 1px solid black;
	background: rgba(0, 0, 0, 0.05);
}

#code {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	font-family: monospace;
	padding: 5px;
}

#output {
	position: absolute;
	right: 0;
	width: 50%;
	height: 90%;
	border: 1px dotted blue;
	overflow: auto;
	text-align: left;
	font-size: small;
	background: rgba(26,26,26,1);
	color: #FEFEFE;
}

button {
	width: 70px;
	height: 50px;
	border: 1px solid #0e63c4;
	cursor: pointer;
	transition: background-color 0.1s;
	font-size: large;
}

button#exe {
	position: absolute;
	background-color: #4DDB4D;
	color: #006600;
	left: 0;
	top: 0;
	width: 50%;
}

button#clear {
	position: absolute;
	background-color: #FF3333;
	color: #8F0000;
	right: 0;
	top: 0;
	width: 50%;
}

button:hover {
	background-color: #fff !important;
}

input#verb {
	position: absolute;
	top: 60px;
	right: 0;
	width: 45%;
}

label[for=verb] {
	position: absolute;
	top: 60px;
	left: 0;
	width: 50%;
}

p {
	margin: 1px 2px;
	padding-left: 5px;
}

p.err {
	color: #ff6666;
}

p.debug {
	color: #777;
}

textarea {
	border: 0;
	background: rgba(0, 0, 0, 0);
}
