body {
	height: 100%;
	overflow: auto;
	margin: 0px;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	z-index: 3;
	margin-bottom: 0;
}

h4 {
	z-index: 2;
	font-weight: normal;
	font-style: italic;
	margin-top: 10px;
}

#hints {
	visibility: hidden;
	z-index: 10;
	position: absolute;
	top: 5px;
	left: 0; right: 0;
	padding: 10px;
	margin: auto;
	width: 80%;
	background: #333;
	color: #eee;
	height: 90%;
	overflow: auto;
}

#headerwrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
}

#buttons {
	z-index: 10;
	position: absolute;
	left: 0;
	height: 100%;
	width: 300px;
	display: flex;
}

#buttons button {
	width: 90px;
}

#titlewrapper {
	position: absolute;
	height: 100%;
	left: 0;
	right: 0;
	overflow: hidden;
}

#wrapper {
	position: absolute;
	top: 100px;
	bottom: 3%;
	left: 0;
	right: 0;
	height: 85%;
}

#codewrapper {
	position: absolute;
	height: 90%;
	width: 50%;
	margin: auto;
	border: 1px solid black;
	background: rgba(0, 0, 0, 0.05);
	box-sizing: border-box;
}

#code {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	font-family: monospace;
	padding: 5px;
}

#output {
	position: absolute;
	font-family: monospace;
	right: 0;
	width: 50%;
	height: 90%;
	border: 1px dotted blue;
	overflow: auto;
	text-align: left;
	font-size: small;
	background: rgba(26,26,26,1);
	color: #FEFEFE;
	box-sizing: border-box;
	padding-left: 4px;
}

.linecounter {
	position: absolute;
	right: 1em;
	bottom: 1em;
	background: white;
}

button {
	height: 50px;
	border: 1px solid #0e63c4;
	cursor: pointer;
	transition: background-color 0.1s;
	font-size: large;
	align-self: auto;
	flex-grow: 1;
}

button.squared {
	width: 50px;
}

.bigfont {
	font-size: 150%;	
}

button#exe {
	background-color: #4DDB4D;
	color: #006600;
}

button#clear-in {
	background-color: #FF3333;
	color: #8F0000;
}

button#clear-out {
	background-color: #1472FF;
	color: #0044aa;
}

button:hover {
	background-color: #fff !important;
}

input#verb {
	position: absolute;
	top: 60px;
	right: 0;
	width: 45%;
}

label[for=verb] {
	position: absolute;
	top: 65px;
	left: 0;
	width: 50%;
}

#syntaxwrapper {
	position: absolute;
	right: 5px;
	top: 5px;
}

p {
	margin: 1px 2px;
	padding-left: 5px;
}

p.err {
	color: #ff6666;
}

p.debug {
	color: #777;
}

textarea {
	border: 0;
	background: rgba(0, 0, 0, 0);
}
